#body {
  background-color:rgb(221, 221, 221);
  padding-top: 5em;
  font-family: 'Raleway', sans-serif;
  min-height: 400em;
}

.container {
  background-color: white;
}

#card {
  padding: 10px; 
  background-color: white;
}

#image {
  height: 10em ;
  width: 12em ;
  border-radius: 80% ;
  border-style: solid !important; 
  border-width: 1px ;
}

h1 {
  font-weight: bold;
  padding-left: 10px;
}

button {
  min-height: 30x;
  min-width: 30px;
}


