#body {
  background-color:rgb(221, 221, 221);
  padding-top: 5em;
  font-family: 'Raleway', sans-serif;
  min-height: 400em;
}

.container {
  background-color: white;
}

#image {
  height: 10em ;
  width: 15em ;
  border-radius: 80% ;
  border-style: solid !important; 
  border-width: 1px ;
}

h1 {
  font-weight: bold;
}
