#body {
  background-color:rgb(221, 221, 221);
  padding-top: 5em;
  font-family: 'Raleway', sans-serif;
  min-height: 400em;
}

.container {
  background-color: white;
}

#card {
  padding: 10px; 
  background-color: white;
}

#image {
  height: 10em ;
  width: 12em ;
  border-radius: 80% ;
  border-style: solid !important; 
  border-width: 1px ;
}

h1 {
  font-weight: bold;
  padding-left: 10px;
}

button {
  color: gray;
  border: none;
  background-color:  white;
}

.d-inline-flex {
  font-size: large;
  font-weight:500;
  border-radius: 10%;
  padding: 60px;
  margin-top: 5px;
  margin-right: 6px;
  background-color: rgb(202, 202, 202);
}

input {
  /* width: 100%;
  padding: 12px 20px;
  margin: 8px 0; */
  /* box-sizing: border-box; */
  border: none;
  border-bottom: 1px solid rgb(0, 0, 0);
}


input:focus,
textarea:focus {
  border-bottom: 2px solid rgb(0, 0, 0);
  outline: none;
}